<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin" >
                <resource id="Magento_Backend::content">
                    <resource id="Macademy_Menerva::Menerva" title="Menerva" translate="Menerva" sortOrder="900" >
                        <resource id="Macademy_Menerva::faq" title="FAQs" translate="titles" sortOrder="900" >
                            <resource id="Macademy_Menerva::faq_save" title="Save" translate="Delete" sortOrder="900"/>
                            <resource id="Macademy_Menerva::faq_delete" title="Delete" translate="Delete" sortOrder="900"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
